115LMSGIProyectoLMSGI/ud4/03/03.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT programmingLanguages (lenguaje)+>
<!ELEMENT lenguaje (description,example)>
<!ELEMENT example (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST lenguaje name CDATA #REQUIRED>
<!ATTLIST programmingLanguages xmlns:xsi CDATA #IMPLIED xsi:noNamespaceSchemaLocation CDATA #IMPLIED>